{{ 'FAq.css' | asset_url | stylesheet_tag }}



<div class="faq-page">
    <div class="faq-page-width">
  
      <div class="faq-page-header">
        <h1 class="faq-heading" style="color: white;">{{ section.settings.heading}}</h1>
  
        <div class="faq-page-header-content">
          {{ page.content }}
        </div>
      </div>
  
      <div class="faq-page-body">
        {% for block in section.blocks %}
          {% if block.type == 'category' %}
           
          {% else %}
            <div class="faq-page-question">
              <header class="faq-page-question-header">
                <h3 class="faq-question">{{ block.settings.title }}</h3>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" width="48"><path d="M480-345 240-585l43-43 197 198 197-197 43 43-240 239Z" fill="white"/></svg>
              </header>
              <div class="faq-page-question-body">
                <div class="faq-page-question-body-inner">
                  <p class="body-content" style="color:grey; width:80%; text-align:left;">{{ block.settings.body }}</p>
                </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
  
    </div>
  </div>

  <script>
    const questionHeaders = document.querySelectorAll(".faq-page-question-header");

    questionHeaders.forEach((header) => {
      header.addEventListener("click", () => {
        header.parentElement.classList.toggle("active");
      });
    }); 
    
</script>
  
  
  {% schema %}
  {
    "name": "FAQ",
    "tag": "section",
    "class": "section",
    "settings": [
     {
        "type": "text",
        "id" : "heading",
        "label": "Enter Section Heading",
        "default": "Frequently Asked Questions"

    },
    {
       "type": "color",
       "id": "text-color",
       "label": "Color of Heading"
    },
    {
      "type": "color_background",
      "id": "background-color",
      "label": "Background-color"
    }

    ],
    "blocks": [
      {
        "type": "category",
        "name": "Category",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Category title"
          }
        ]
      },
      {
        "type": "question",
        "name": "Question",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Question title"
          },
          {
            "type": "richtext",
            "id": "body",
            "label": "Question body"
          }
        ]
      }
    ],
    "presets": [
        {
         "name" : "fAQ Section"
        }
    ]
  }
  {% endschema %}